<style>
.textlink {
    color: #90BC39;
    background-color: transparent;
    text-decoration: none;
    font-weight: normal;
 }
.textlink:link {
  color: #90BC39;
  background-color: transparent;
  text-decoration: none;
}
.textlink:visited {
  color: #90BC39;
  background-color: transparent;
  text-decoration: none;
}
.textlink:hover {
  color: #90BC39;
  background-color: transparent;
  text-decoration: underline;
}
.textlink:active {
  color: #90BC39;
  background-color: transparent;
  text-decoration: underline;
}
</style>