<style>
.listlink {
    color: #90BC39;
    background-color: transparent;
    text-decoration: none;
    font-weight: normal;
 }
.listlink:link {
  color: #90BC39;
  background-color: transparent;
  text-decoration: underline;
}
.listlink:visited {
  color: #90BC39;
  background-color: transparent;
  text-decoration: none;
}
.listlink:hover {
  color: #90BC39;
  background-color: transparent;
  text-decoration: underline;
}
.listlink:active {
  color: #90BC39;
  background-color: transparent;
  text-decoration: underline;
}
</style>

<ul>
<li> <a class="listlink" href="{{ include.url | relative_url }}">{{ include.link_text }}</a> {{include.following_text}}</li>
</ul>